<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.krasus1966.news.mapper.CommentsMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.krasus1966.news.entity.Comments">
        <result column="id" property="id" />
        <result column="writer_id" property="writerId" />
        <result column="father_id" property="fatherId" />
        <result column="article_id" property="articleId" />
        <result column="article_title" property="articleTitle" />
        <result column="article_cover" property="articleCover" />
        <result column="comment_user_id" property="commentUserId" />
        <result column="comment_user_nickname" property="commentUserNickname" />
        <result column="comment_user_face" property="commentUserFace" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        writer_id, father_id, article_id, article_title, article_cover, comment_user_id, comment_user_nickname, comment_user_face, content, create_time
    </sql>

</mapper>
