<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.krasus1966.news.mapper.ArticleMapper">

    <!-- 开启二级缓存 -->
<!--    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="top.krasus1966.news.entity.Article">
        <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="category_id" property="categoryId" />
        <result column="article_type" property="articleType" />
        <result column="article_cover" property="articleCover" />
        <result column="is_appoint" property="isAppoint" />
        <result column="article_status" property="articleStatus" />
        <result column="publish_user_id" property="publishUserId" />
        <result column="publish_time" property="publishTime" />
        <result column="read_counts" property="readCounts" />
        <result column="comment_counts" property="commentCounts" />
        <result column="mongo_file_id" property="mongoFileId" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        title, content, category_id, article_type, article_cover, is_appoint, article_status, publish_user_id, publish_time, read_counts, comment_counts, mongo_file_id, is_delete, create_time, update_time
    </sql>

</mapper>
